@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500);

@include responsive-font(5vw, 35px, 150px, 50px);

@-ms-viewport{
  width: device-width;
}

* {
margin: 0;
padding: 0;
}

header {
  width: 100%;
  background-color: lightblue;
  padding: 1em;
}

h1 {
  display: block;
}

.searchBox {
  padding-top: 1em;
}

.search {
  display: inline;
  font-size: 1.25em;
  padding: .25em;
  /*padding: 1em;*/
}

main {
  width: 100%;
  height: auto;
}

.display {
  height: 1.5em;
  padding: 1em;
  text-align: center;
  font-size: 2em;
  width: 50%;
  margin-top: 2em;
  margin-left: 25%;
  color: white;
  background-color: rgb(100, 100, 100);
  border-radius: 5px;
}

#map {
  display: block;
  width: 80%;
  margin-top: 2em;
  margin-left: 10%;
  /*margin: 5em, 0, 0, 10%;*/
  height: 40em;
  background-color: lightgrey;
}
